body{
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
    font-size: 1.125rem;
    color: #3d3232;
}

html, body{
    width:100%;
}

html{
    background-color: #302c2c;
}

.navbar{
    position: fixed;
    top:0;
    width: 100%;
    background-color: #e01f1f;
    font-size: 1.25rem;
    line-height: 3.4375rem;
    color: #efebea;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    padding: 3px 10px;
    margin-bottom:25px;
    box-shadow: 0 4px 3px rgba(0,0,0,.5);
}

.navContent{
    max-width: 1080px;
    margin: auto;
}

.navContent ul{
    list-style:none;
}

.navContent ul li a{
    text-decoration: none;
    color: white;
}

.white{
    background-color: #efebea;
}

.bodyContainer {
    max-width: 1080px;
    margin: auto;
}

.first {
    margin-top: 110px;
}